@font-face {
    font-family: "D-Din";
    src: url("ddin.otf") format("opentype");
}

body{
    background-color:black;
    overflow-x: hidden;
    overflow-y:hidden;
    font-family: "D-Din", Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding-bottom:0em;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    color: white;
    letter-spacing: 0.08em;
}
@media (max-width: 767px) {
    body{font-size:1.3em;}
}

h1{
    font-weight: 800;
    font-size: 2.2em;
    text-transform: uppercase;
    margin-top:0.5em;
}

a{
    color:black;
    text-decoration: underline;
}

#p2smlogo{
    padding: 1em 0;
    display:flex;
    justify-content: center;
    align-items: center;
    background:url("img/main_thumbnail_bg.png");
    background-size:cover;
}

.p2box{
    padding: 1em 1em;
    background-color: rgb(19, 19, 19);
    -webkit-box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,1);
}

.msm-sidebar {
    width: 20%;
    height: 100%;
    background-color: #050505;
}

.msm-header {
    width: 100%;
    height: 150px;
}

.msm-header-logo {
    width: 95%;
    margin: 10px;
}

.msm-header-line {
    width: 100%;
    height: 10px;
    background-image: linear-gradient(to right, rgb(0, 26, 255), rgb(255, 123, 0));
    margin: 0px;
}

.msm-buttons {
    font-size: 60px;
}

.msm-page-div {
    margin: 20px;
}

.msm-page-div a {
    text-decoration: none;
}

.about-link {
    display: block;
    margin-bottom: 30px;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modes-link {
    display: block;
    margin-bottom: 30px;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.msm-page-div a:hover {
    margin-left: 15px;
    background-color: #7979793a;
}

.msm-page-div a.clicked {
    margin-left: 10px;
}

a.clicked {
    margin-left: 10px;

}

.about-title {
    font-size: 120px;
    font-weight: bolder;
    position: relative;
    text-shadow: 5px 5px 10px black;
}

.msm-content.hidden{
    display:none;
}

.msm-content {
    width: 80%;
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 60%;
    top: 50%;
}

#p2smlogo>img{
    max-width:100%;
}

.fa-discord{color:#697fc7;}
.fa-github{color:#797979;}
.msm-nav a:hover i{ color:rgb(255, 255, 255); }

.logo-img {
    width: 1000px;
    align-items: center;
}

.bg-img {
    padding: 1em 0;
    display:flex;
    justify-content: center;
    align-items: center;
    background:url("img/main_thumbnail_bg.png");
    background-size:cover;
}

a {
    color: white;
}